<style>
#RunTime{text-align: center;font-size: 15px;font-weight: 500;color: #FC4E27;}
</style>
<footer class="footer text-muted">
  <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
    <div class="row">
      <div class="col-lg-8 order-last order-lg-first">
        <ul class="list-inline">
          <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
        </ul>
      </div>
      <div class="col-lg-8 order-first order-lg-last text-lg-end">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>
        <span id="RunTime"></span>
        <script>
        //网站运行时长
        var BootDate = new Date("2023/4/5 12:00:00");//设置网站运行时间，格式：年/月/日 时:分:秒
        function ShowRunTime(id) {
          var NowDate = new Date();
          var RunDateM = parseInt(NowDate - BootDate);
          var RunDays = Math.floor(RunDateM / (24 * 3600 * 1000));
          var RunHours = Math.floor(RunDateM % (24 * 3600 * 1000) / (3600 * 1000));
          var RunMinutes = Math.floor(RunDateM % (24 * 3600 * 1000) % (3600 * 1000) / (60 * 1000));
          var RunSeconds = Math.round(RunDateM % (24 * 3600 * 1000) % (3600 * 1000) % (60 * 1000) / 1000);
          var RunTime = RunDays + "天" + RunHours + "时" + RunMinutes + "分" + RunSeconds + "秒";
          document.getElementById(id).innerHTML = "小A猪崽一直在追随大家的步伐啊：" + RunTime;
        }
        setInterval("ShowRunTime('RunTime')", 1000);
      </script>
    </div>
  </div>
</footer>